# Python virtual environment
venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*$py.class

# Pytest / cache
.pytest_cache/

# Database files
*.db

# OS / Editor files
.DS_Store
.vscode/
.idea/
